{% include 'header.sh.j2' %}

export __PARAMS=${{ parameters_list | quote }}
export __SEP=${{ separator | quote }}
export __TASKS_PER_JOB={{ tasks_per_job }}

{%- for cmd in setup %}
{{ cmd }}
{%- endfor %}


for i in $(seq $__TASKS_PER_JOB); do

    export __INDEX=$( expr $SLURM_ARRAY_TASK_ID '*' $__TASKS_PER_JOB '*' {{ parameters | length }} '+' $i )

    {%- for parameter in parameters %}
    export {{ parameter }}=$(echo $__PARAMS | cut -f $(expr {{ loop.index0 }} '+' $__INDEX) -d $__SEP)
    {%- endfor %}

    {{ cmd }}

done
